<!DOCTYPE html>
<html>
  <head>
    <title>Button Example</title>
    <link rel="stylesheet" type="text/css" href="/static/css/button_stuff.css">
    <style>
        .navbar-button {
            background-color: #ffa500;
            position: absolute;
            top: 10px;
            left: 10px;
        }
    </style>
  </head>
  <body>
 <form id="buttonForm" method="POST" action="/button_press">
        <div style="display: flex;">
            <input type="submit" name="button" value="Red" class="button">
            <input type="submit" name="button" value="Green" class="button">
            <input type="submit" name="button" value="Blue" class="button">
        </div>
</form>
<form method="POST" action="/">
    <input type="submit" name="navbar" value="Navbar" class="button navbar-button">
</form>
  </body>
</html>